.main {
  display: flex;
  margin-top: 100px;
}

.left {
  display: flex;
}

.description {
  width: 500px;
  height: 300px;
  margin-right: 38px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.image {
  width: 300px;
  height: 380px;
  margin-top: 18px;
  margin-right: 32px;
}

@media (max-width: 700px) {
  .main {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
  }

  .image {
    margin-right: 0px;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description {
    width: 300px;
    height: 99px;
    margin-left: 0px;
    margin-right: 0px;
    overflow-y: scroll;
    margin-top: 20px;
  }
  .right {
    margin-top: 20px;
    width: 300px;
  }
}
